# Inspecting Dataset

In [1]:
import pandas as pd

test_df = pd.read_csv("../herbarium-berlin.csv", sep = '\t')

/root/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/root/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/root/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (34,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
test_df.shape

(380276, 45)

In [ ]:
print(len(test_df.columns))
list(test_df.columns)

In [ ]:
test_df.iloc[:,0:3].head(10)

In [ ]:
test_df.iloc[:,3:10].head(10)

In [ ]:
test_df.iloc[:,10:16].head(10)

In [ ]:
test_df.iloc[:,16:21].head(10)

In [ ]:
test_df.iloc[:,21:31].head(10)

In [ ]:
test_df.iloc[:,31:41].head(10)

In [ ]:
test_df.iloc[:,41:46].head(10)

# Select Features for Item Similarity

In [3]:
item_df = test_df[[
    'catalogNumber',
    'occurrenceID',
    'scientificName',    
    'kingdom',
    'phylum',
    'class',
    'order',
    'family',
    'genus',
    'species',
    'countryCode',
    'locality',
    'decimalLatitude',
    'decimalLongitude'
]]

In [4]:
item_df.head(10)

,catalogNumber,occurrenceID,scientificName,kingdom,phylum,class,order,family,genus,species,countryCode,locality,decimalLatitude,decimalLongitude
0,B -W 19937 -02 0,http://herbarium.bgbm.org/object/BW19937020,Asplenium acutum Bory ex Willd.,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Aspleniaceae,Asplenium,Asplenium onopteris,ES,Teneriffe.,NaN,NaN
1,B -W 19937 -01 0,http://herbarium.bgbm.org/object/BW19937010,Asplenium acutum Bory ex Willd.,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Aspleniaceae,Asplenium,Asplenium onopteris,ES,Teneriffe a la forêt de Laguna.,NaN,NaN
2,B 20 0049406,http://herbarium.bgbm.org/object/B200049406,Diplazium rhoifolium Mett.,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Athyriaceae,Diplazium,Diplazium rhoifolium,GY,New Granada.,NaN,NaN
3,B 20 0011251,http://herbarium.bgbm.org/object/B200011251,Asplenium virillae Christ,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Aspleniaceae,Asplenium,Asplenium virillae,CR,"Candelaria, Alt.: 1600 m.",NaN,NaN
4,B 10 0461080,http://herbarium.bgbm.org/object/B100461080,Arctanthemum arcticum (L.) Tzvelev,Plantae,Tracheophyta,Magnoliopsida,Asterales,Asteraceae,Arctanthemum,Arctanthemum arcticum,NaN,Triostroff in Lapponia maxime or.,NaN,NaN
5,B 10 0630589,http://herbarium.bgbm.org/object/B100630589,Guatteria schomburgkiana Mart.,Plantae,Tracheophyta,Magnoliopsida,Magnoliales,Annonaceae,Guatteria,Guatteria schomburgkiana,SR,NaN,NaN,NaN
6,B 20 0015631_b,http://herbarium.bgbm.org/object/B200015631_b,Asplenium heufleri Reichardt,Plantae,Tracheophyta,Polypodiopsida,Polypodiales,Aspleniaceae,Asplenium,Asplenium alternifolium,IT,Rheinpreußen auf Devon Schiefer des Ahrthales....,NaN,NaN
7,B 10 0630588,http://herbarium.bgbm.org/object/B100630588,Guatteria schomburgkiana Mart.,Plantae,Tracheophyta,Magnoliopsida,Magnoliales,Annonaceae,Guatteria,Guatteria schomburgkiana,SR,Para.,NaN,NaN
8,B 10 0461077,http://herbarium.bgbm.org/object/B100461077,Leucanthemopsis alpina (L.) V.H.Heywood,Plantae,Tracheophyta,Magnoliopsida,Asterales,Asteraceae,Leucanthemopsis,Leucanthemopsis alpina,SK,Tatra.,NaN,NaN
9,B 10 0461067,http://herbarium.bgbm.org/object/B100461067,Leucanthemopsis alpina (L.) V.H.Heywood,Plantae,Tracheophyta,Magnoliopsida,Asterales,Asteraceae,Leucanthemopsis,Leucanthemopsis alpina,IT,Lombardei. [?] in Monte Venerocolo.,NaN,NaN

# Number of unique value

In [ ]:
print("total rows ", test_df.shape)
item_df.nunique()

# Missing Values

### Percentage of missing values

In [ ]:
item_df.isna().sum() * 100 / len(item_df)

In [ ]:
item_df.isna().sum()

### missing values in taxonomy kingdom

In [ ]:
item_df[item_df['kingdom'].isna()]

### inspecting missing values in dataset

- when dropping missing value in all of the features
  
  this shows the number of data point to be dropped at all

In [7]:
item_df_dr_0 = item_df.dropna()
remain_dt_0 = len(item_df_dr_0) * 100 / len(item_df)
drp_dt_0 = 100 - remain_dt_0
print("remaining data size ", len(item_df_dr_0))
print("remaining data ", remain_dt_0)
print("dropped data ", drp_dt_0)

remaining data size  184981
remaining data  48.643879708422304
dropped data  51.356120291577696

In [8]:
type(item_df_dr_0)

pandas.core.frame.DataFrame

In [9]:
item_df_dr_0.to_csv("../herbarium-berlin-clean.csv", sep='\t', encoding='utf-8')

- when dropping missing value in all of the taxonomy features
  
  this shows the number of data point to be dropped at all

In [ ]:
item_df_dr_1 = item_df.dropna(how='all', subset=['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species'])
remain_dt_1 = len(item_df_dr_1) * 100 / len(item_df)
drp_dt_1 = 100 - remain_dt_1
print("remaining data size ", len(item_df_dr_1))
print("remaining data ", remain_dt_1)
print("dropped data ", drp_dt_1)

- when dropping missing value in either of taxonomy features

  this shows the number of data point to be imputed / set to zero / dropped at all

In [ ]:
item_df_dr_2 = item_df_dr_1.dropna(subset=['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species'])
remain_dt_2 = len(item_df_dr_2) * 100 / len(item_df_dr_1)
drp_dt_2 = 100 - remain_dt_2
print("remaining data ", remain_dt_2, len(item_df_dr_2))
print("dropped data ", drp_dt_2, len(item_df_dr_1) - len(item_df_dr_2))

- when dropping nan in location country and the missing values in long and lat

  this shows the number of data point to be imputed / set to zero / dropped at all

In [ ]:
item_df_dr_3 = item_df_dr_1.dropna(how='all', subset=['countryCode', 'decimalLatitude', 'decimalLongitude'])
remain_dt_3 = len(item_df_dr_3) * 100 / len(item_df_dr_1)
drp_dt_3 = 100 - remain_dt_3
print("remaining data ", remain_dt_3, len(item_df_dr_3))
print("dropped data ", drp_dt_3, len(item_df_dr_1) - len(item_df_dr_3))

    - checking if the number is same as dropping nan in location country or the missing values in long and lat

In [ ]:
item_df_dr_3_check = item_df_dr_1.dropna(how='all', subset=['countryCode'])
len(item_df_dr_3_check)

    - checking row without coutry code but have long and lat values

In [ ]:
item_df_dr_3[item_df_dr_3['countryCode'].isna()]

- when dropping the missing values in long and lat 
  
  this shows the number of data point to be completed by geocoding after the last drop operation

In [ ]:
len(item_df_dr_3[item_df_dr_3['decimalLatitude'].isna() & item_df_dr_3['decimalLongitude'].isna() & item_df_dr_3['countryCode'].notna()]) * 100 / len(item_df_dr_1)

In [ ]:
len(item_df_dr_3[item_df_dr_3['decimalLatitude'].isna() & item_df_dr_3['decimalLongitude'].isna() & item_df_dr_3['countryCode'].notna()])

In [ ]:
len(item_df_dr_3[item_df_dr_3['decimalLatitude'].isna()])

# Imputing missing values

### inspecting missing values in other column to find input column for imputation

In [ ]:
item_df_dr_1[item_df_dr_1['phylum'].isna()].isna().sum() * 100 / len(item_df_dr_1[item_df_dr_1['phylum'].isna()])

In [ ]:
item_df_dr_1[item_df_dr_1['class'].isna()].isna().sum() * 100 / len(item_df_dr_1[item_df_dr_1['class'].isna()])

In [ ]:
item_df_dr_1[item_df_dr_1['order'].isna()].isna().sum() * 100 / len(item_df_dr_1[item_df_dr_1['order'].isna()])

In [ ]:
item_df_dr_1[item_df_dr_1['family'].isna()].isna().sum() * 100 / len(item_df_dr_1[item_df_dr_1['family'].isna()])

In [ ]:
print(len(item_df_dr_1[item_df_dr_1['genus'].isna()]))
item_df_dr_1[item_df_dr_1['genus'].isna()].isna().sum() * 100 / len(item_df_dr_1[item_df_dr_1['genus'].isna()])

In [ ]:
print(len(item_df_dr_1[item_df_dr_1['species'].isna()]))
item_df_dr_1[item_df_dr_1['species'].isna()].isna().sum() * 100 / len(item_df_dr_1[item_df_dr_1['species'].isna()])

In [ ]:
print(len(item_df_dr_1[~item_df_dr_1.isin(item_df_dr_3).catalogNumber]))
item_df_dr_1[~item_df_dr_1.isin(item_df_dr_3).catalogNumber].isna().sum() * 100 / len(item_df_dr_1[~item_df_dr_1.isin(item_df_dr_3).catalogNumber])

### genus and species seem to have enough input column to suport imputation

here the number of data of each column that still can be imputed

### Genus

test set

In [ ]:
g_test = item_df_dr_1[item_df_dr_1['genus'].isna()].dropna(subset=['kingdom', 'phylum', 'class', 'order', 'family', 'countryCode'])
len(g_test)

training set

In [ ]:
print(len(item_df_dr_1[item_df_dr_1['genus'].notna()]))
g_train = item_df_dr_1[item_df_dr_1['genus'].notna()].dropna(subset=['kingdom', 'phylum', 'class', 'order', 'family', 'countryCode'])
len(g_train)

### Species

test set

In [ ]:
s_test = item_df_dr_1[item_df_dr_1['species'].isna()].dropna(subset=['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'countryCode'])
len(s_test)

training set

In [ ]:
print(len(item_df_dr_1[item_df_dr_1['species'].notna()]))
s_train = item_df_dr_1[item_df_dr_1['species'].notna()].dropna(subset=['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'countryCode'])
len(s_train)

### Location

test set

In [ ]:
l_test = item_df_dr_1[~item_df_dr_1.isin(item_df_dr_3).catalogNumber].dropna(subset=['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species'])
len(l_test)

training set

In [ ]:
print(len(item_df_dr_3))
l_train = item_df_dr_3.dropna(subset=['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species'])
len(l_train)

In [ ]:
import datawig

# Crawling for Images Url

In [ ]:
import requests
from bs4 import BeautifulSoup
from urllib import parse
from urllib.parse import urlencode

def image_crawler(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    ret = ""
    
    if len(soup.find_all('img')) >= 5 :
        imgurl = soup.find_all('img')[4]['src']
        if "mediastorage" in imgurl:
            urlcmp = parse.urlsplit(imgurl)
            qs = parse.parse_qs(urlcmp.query)
            qs['width'] = ['1000']
            qsret = urlencode(qs, doseq=True)
            ret = urlcmp.scheme + "://" + urlcmp.netloc + urlcmp.path + "?" + qsret 
            
        
    return ret

In [ ]:
image_crawler("http://herbarium.bgbm.org/object/BW19937010")